<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Questionnaire</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templates" Match="NavLinkMatch.All">
                <Icon Name="IconName.CardText" Size="IconSize.x2" Style="margin-right:5px"></Icon> Templates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="constructor">
                <Icon Name="IconName.Hammer" Size="IconSize.x2" Style="margin-right:5px"></Icon> Constructor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="openedquestionnaires">
                <Icon Name="IconName.CardList" Size="IconSize.x2" Style="margin-right:5px"></Icon> Opened Questionnaires
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="closedquestionnaires">
                <Icon Name="IconName.CardChecklist" Size="IconSize.x2" Style="margin-right:5px"></Icon> Closed Questionnaires
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
