@page "/constructor"
@page "/constructor/{questionnaireId}"
@using Front.Components.Question
@inject HttpClient Http
@inject JsonSerializerSettings jsonSettings
@inject NavigationManager NavigationManager

<PageTitle>Constructor</PageTitle>

<h3>Constructor</h3>

@if(_Questionnaire == null)
{
	<QuestionCheckboxComponent></QuestionCheckboxComponent>
}
else
{
	foreach (var question in _Questionnaire.Questions)
	{
		<QuestionComponent _Question="question"></QuestionComponent>
	}
}

@code {
	[Parameter]
	public string QuestionnaireId { get; set; }

	public Questionnaire _Questionnaire { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
		var path = uri.AbsolutePath;

		if (path.Length > 12)
		{
			var response = await Http.GetAsync($"http://localhost:5239/api/Questionnaire/{QuestionnaireId}");
			response.EnsureSuccessStatusCode();
			var jsonString = await response.Content.ReadAsStringAsync();
			_Questionnaire = JsonConvert.DeserializeObject<Questionnaire>(jsonString, jsonSettings);
		}
	}
}
